<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/generales.js"></script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="icon" href="/img/logosolo.png">
    <link rel="stylesheet" href="/css/usuarios.estilos.css">
    <title>Nuevo usuario</title>
  </head>
  <body>
    <header>
      <img src="/img/untlogo.png" alt="utn logo" class="utnLogo">
      <div class="diseniologo">
        <img src="/img/logosolo.png" alt="diseniologo" style="">
        <p>Diseño de Sistemas</p>
      </div>
    </header>
    <div class="main_container">

      <div class="contenedor-carta-usuario">
        <div class="carta-usuario">
          <form class="" action="" method="post" style="">

            <div class="form-cargar-usuario">
              <div class="" style="text-align:center;">
                <label for="input-img-usuario"><img src="/img/usuario.png" class="imagen-perfil" alt=""></label>
                <input id="input-img-usuario" type="file" name="" value="" style="display:none;">
              </div>

              <div class="" style="margin:40px;">
                <label><i class="fas fa-user"></i> Usuario</label>
                <br>
                <input type="text" name="nombreDeUsuario"  class="input-datos" placeholder="Usuario" >
                <br>
                <br>
                <label><i class="fas fa-file-signature"></i>  Nombre</label>
                <br>
                <input type="text" name="nombre" class="input-datos" placeholder="Nombre">
                <br>
                <br>
                <label><i class="fas fa-file-signature"></i>  Apellido</label>
                <br>
                <input type="text" name="apellido" class="input-datos" placeholder="Apellido">
                <br>
                <br>
                <label><i class="fas fa-calendar-alt"> </i> Fecha de Nacimiento</label>
                <br>
                <input type="date" name="fechaDeNacimiento" class="input-datos"  placeholder="Fecha de Nacimiento">
              </div>
              <div class="" style="margin:40px;">
                <label><i class="fas fa-envelope"></i> E-mail</label>
                <br>
                <input type="email"  class="input-datos"name="email"  placeholder="E-mail">
                <br>
                <br>
                <label><i class="fas fa-phone"></i> Teléfono</label>
                <br>
                <input type="number"  class="input-datos" name="telefono" placeholder="Teléfono">
                <br>
                <br>
                <label><i class="fas fa-id-card-alt"> </i> Nº Legajo</label>
                <br>
                <input type="text" name="legajo" class="input-datos"  placeholder="Nº Legajo">
                <br>
                <br>
                <label><i class="fas fa-unlock-alt"> </i> Contraseña</label>
                <br>
                <input type="password" name="password" value="" class="input-datos" placeholder="Contraseña">
                <br>
                <br>
                <label><i class="fas fa-user-cog"></i>  Perfil</label>
                <br>
                <select class="input-select" name="">
                   <option>Seleccionar</option>
                   <option>Administrador General</option>
                   <option>Administrador</option>
                   <option>Usuario</option>
                </select>

              </div>
            </div>
            <input type="submit" name="" class="btn-verde" style="float:right;"  value="Crear usuario">
            <a href="" class="btn-border-blue" style="">Volver</a>
          </form>
        </div>
      </div>

    </div>
  </body>
  </html>
